asgiref==3.8.1
astroid==3.2.4
backports.zoneinfo==0.2.1
dill==0.3.9
Django==4.2.18
djangorestframework==3.15.2
isort==5.13.2
mccabe==0.7.0
platformdirs==4.3.6
psycopg2-binary==2.9.10
pylint==3.2.7
pylint-django==2.5.5
pylint-plugin-utils==0.8.2
sqlparse==0.5.3
tomli==2.2.1
tomlkit==0.13.2
typing-extensions==4.12.2
